<app-menu></app-menu>
<table>
    <tr>
         <!-- request -->
    </tr>
    <tr>
        <select name="products" id="products">
            <option value="{{product.name}}" *ngFor="let product of products">{{product.name}}</option>
            <option value="test">{{products[0].name}}</option>
        </select>
    </tr>
    <tr>
        <td>Quantity: </td>
        <td><input type="text" [(ngModel)]="lineItem.quantity"></td>
   </tr>
   
</table>
<br>
<br>
<button>Save</button>
<app-footer></app-footer>

