<app-menu></app-menu>
   
<label for="partnumber">Part Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="partnumber" id="partnumber" name="partnumber">
<br>
<label for="name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="name" id="name" name="name">
<br>
<label for="price">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="price" id="price" name="price">
<br>
<label for="unit">Unit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="unit" id="unit" name="unit">
<br>
<label for="photopath">Photo Path:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="photopath" id="photopath" name="photopath">
<br>

<label for="vendor">Vendor: </label>
<select name="vendor">

<br>
<br>
<button type="save" value="Save">Save</button>

<footer></footer>