<app-menu></app-menu>
   
<label for="partnumber">Part Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="partnumber" name= "partnumber" placeholder="Enter Part Number">
<br>

<label for="name"> Product Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="name" name= "name" placeholder="Enter Product Name">
<br>

<label for="price">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="price" name="price" placeholder="Enter Price">
<br>

<label for="unit">Unit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="unit" name="unit" placeholder="Enter Unit">
<br>

<label for="photopath">Photo Path:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="photopath" name="photopath" placeholder="Enter Photo Link">
<br>

<label for="vendor">Vendor: </label>
<select name="vendor" placeholder="select vendor">
    <option value="" selected>Select Vendor</option>
            <option>Wally World</option>
            <option>Apple Inc</option>
            <option>ABC Toys</option>
        </select><br>

<br>
<br>

<button type="save">Save</button>

<app-footer></app-footer>