<app-menu></app-menu>
   
<label for="partnumber">Part Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="partnumber" id="partnumber" name="partnumber">
<br>
<label for="name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="name" id="name" name="name">
<br>
<label for="price">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="price" id="price" name="price">
<br>
<label for="unit">Unit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="unit" id="unit" name="unit">
<br>
<label for="photopath">Photo Path:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="photopath" id="photopath" name="photopath">
<br>

<select>
    <option value="" style="display:none">Vendor</option>
    <option value="1">One</option>
    <option value="2">Two</option>
</select>


<footer></footer>