<app-menu></app-menu>
    

<form>
    
    <label for="fname">First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <br>
    <label for="fname">Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <br>
    <label for="fname">Phone Number:&nbsp;</label>
    <br>
    <label for="fname">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <br>
    <label for="fname">Username:&nbsp;&nbsp;&nbsp;</label>
    <br>
    <label for="fname">Password:&nbsp;&nbsp;&nbsp;</label>
    <br>
    <label for="fname">Reviewer Status:&nbsp;</label>
    <br>
    <label for="fname">Admin Status:&nbsp;</label>
    <br>
   
   </form>
    
   <button routerLink="/user/detail/:id" type="edit" value="Edit">Edit</button>
   <button type="delete" value="Delete">Delete</button>


<app-footer></app-footer>