<app-menu></app-menu>



<label for="partnumber">Part Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="partnumber" name="partnumber" placeholder="{{products.partNumber}}">
<br>
<label for="name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="name"  name="name" placeholder="{{products.name}}">
<br>
<label for="price">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="price"  name="price" placeholder="{{products.price}}">
<br>
<label for="unit">Unit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="unit"  name="unit" placeholder="{{products.unit}}">
<br>
<label for="photopath">Photo Path:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input type="photopath"  name="photopath" placeholder="{{products.photoPath}}">
<br>

<label for="vendor">Vendor: </label>
<select name="vendor" placeholder="select vendor">
    <option value="" selected>Select Vendor</option>
            <option>Wally World</option>
            <option>Apple Inc</option>
            <option>ABC Toys</option>
            <option>Microsoft Pins</option>
            <option>Dell Inc</option>
            <option>CNN Inc</option>
            <option>Bloomberg</option>
            <option>Proctor Gamble</option>
            <option>Harris Financial</option>
        </select><br>


<br>
<br>

<button type="save">Save</button>




<app-footer></app-footer>