<app-menu></app-menu>

    
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ pageTitle }}</h5>

        <a routerLink="/product/create">
            <button>CREATE NEW PRODUCT</button>   
          </a>
          <br>
          <br>

           <table class="table">
            <thead> 
            <tr>
            <th scope = "col">Part Number</th>
            <th scope = "col">Name</th>
            <th scope = "col">Price</th>
            <th scope = "col">Unit</th>
            <th scope = "col">Photo Path</th>
            <th scope = "col" >Vendor</th>
            <th scope="col">Detail</th>
            <div>
                <img src="\assets\Detail-Icon.png" alt="" width = "20" height = "20"/>
            </div>

            <th scope="col">Edit</th>
            <div>
                <img src="\assets\PencilEditIcon.png" alt="" width = "20" height = "20"/>
            </div>

            </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let product of products">
                <td>{{ product.partNumber }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.unit }}</td>
                <td> {{ product.photoPath }}</td>
                <td>{{ product.vendor.name }}</td>

                
                
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>