    <app-menu></app-menu>

    <form>
    
    <label for="fname">First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="fname" [(ngModel)]="user.firstName">
    <br><br>
    
    <label for="fname">Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="lname" [(ngModel)]="user.lastName">
    <br><br>
    
    <label for="fname">Phone Number:&nbsp;</label>
    <input type="text"name="pnumber" [(ngModel)]="user.phone">
    <br><br>
    
    <label for="fname">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="email" [(ngModel)]="user.email">
    <br><br>
    
    <label for="fname">Username:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="uname" [(ngModel)]="user.userName">
    <br><br>
    
    <label for="fname">Password:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="pword" [(ngModel)]="user.password">
    <br><br>
   
   </form>

   <button type="save" value="Save">Save</button>

    <app-footer></app-footer>