<app-menu></app-menu>

<form>
    
    <label for="fname">First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="fname" [(ngModel)]="users.firstName">
    <br>
    
    <label for="fname">Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="lname" [(ngModel)]="users.lastName">
    <br>
    
    <label for="fname">Phone Number:&nbsp;</label>
    <input type="text" name="phonenumber" [(ngModel)]="users.phone">
    <br>
    
    <label for="fname">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="email" [(ngModel)]="users.email">
    <br>
    
    <label for="fname">Username:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="username" [(ngModel)]="users.userName">
    <br>
    
    <label for="fname">Password:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="password" [(ngModel)]="users.password">
    <br>
    
    <tr>
        <td>Reviewer Status:</td>
        <td>{{users.isReviewer}}</td>
    </tr>
    <tr>
        <td>Admin Status:</td>
        <td>{{users.isAdmin}}</td>
    </tr>
    
    <br>
    <br>
    
   
   </form>
    
    
   <button type="Update" value="Save">Update</button>



<app-footer></app-footer>