<app-menu></app-menu>


<body>

<div class="form-container">
    <form class="form">

        <label for="submittedDate">Submitted Date :</label>
        <input type="text" name="submittedDate">
        <br>

        <label for="dateNeeded">Date Needed :</label>
        <input type="text" name="dateNeeded">
        <br>

        <label for="username">Username :</label>
        <input type="text" name="username">
        <br>

        <label for="description">Description :</label>
        <input type="text" name="description">
        <br>

        <label for="justification">Justification :</label>
        <input type="text" name="justification">
        <br>

        <label for="status">Status :</label>
        <input type="text" name="status">
        <br>

        <label for="rejectionReason">Reason for Rejection :</label>
        <input type="text" name="rejectionReason">
        <br>
    

        <label for="deliveryMode">Delivery Mode: </label>
       <select name="deliveryMode">
        <option value="" selected>Select Delivery Mode</option>
        <option>USPS</option>
        <option>Courier</option>
        <option>UPS</option>
        <option>Pick Up</option>
</select>
<br>
<br>

    <button type="save">Save</button>
        
<app-footer></app-footer>