<app-menu></app-menu>

<table class="table table-sm">


    <label for="description">Description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    
    <br>
    <label for="justification">Justification:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    
    <br>
    
    <label for="deliverymode">Delivery Mode:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    
    <br>
    <label for="submitteddate">Submitted Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    
    <br>
    <label for="datedneeded">Dated Needed:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    
    <br>
    <label for="status">Status:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <br>
    
    </table>
    
   <app-line-item-list></app-line-item-list>
    <br>
    <br>
    
    <p>Reason For Rejection: </p>
    <input type="text">
    
    <br>
    <br>
    
    <button>Approve</button>
    <button>Reject</button>
    
    
     <app-footer></app-footer>