<app-menu></app-menu>

<table class="table table-sm">


<label for="description">Description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.description}}
<br>
<label for="justification">Justification:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.justification}}
<br>
<label for="rejectionReason">Rejection Reason:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.rejectionReason}}
<br>
<label for="deliverymode">Delivery Mode:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.deliveryMode}}
<br>
<label for="submitteddate">Submitted Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.submittedDate}}
<br>
<label for="datedneeded">Dated Needed:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.dateNeeded}}
<br>
<label for="status">Status:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.status}}
<br>
<label for="total">Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.total}}
<br>
<label for="user">User:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.user}
<br>

</table>

<app-line-item-list></app-line-item-list>
<br>
<br>

<button routerLink="/request/edit/0">Edit</button>
<button>Delete</button>

<app-footer></app-footer>
