<app-menu></app-menu>

<table class="table table-sm">


<label for="description">Description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.description}}
<br>
<label for="justification">Justification:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.justification}}
<br>
<label for="rejectionReason">Rejection Reason:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.rejectionReason}}
<br>
<label for="deliverymode">Delivery Mode:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.deliveryMode}}
<br>
<label for="submitteddate">Submitted Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.submittedDate}}
<br>
<label for="datedneeded">Dated Needed:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.dateNeeded}}
<br>
<label for="status">Status:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.status}}
<br>
<label for="total">Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.total}}
<br>
<label for="user">User:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{request.user}
<br>

</table>

<h2>Line Items</h2>

<table class="table">
    <tr>

    <th>Part Number:</th>
    <th>Product Description:</th>
    <th>Vendor:</th>
    <th>Price:</th>
    <th>Quantity:</th>
    <th>Total:</th>

</tr>

<p class="copyright">
<app-footer></app-footer>
</p>