<app-menu></app-menu>

<label for="partnumber">Part Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{product.partNumber}}
<br>
<label for="name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{product.name}}

<br>
<label for="price">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{product.price}}

<br>
<label for="unit">Unit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{product.unit}}

<br>
<label for="photopath">Photo Path:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{product.photoPath}}

<br>
<label for="vendor">Vendor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{product.vendor}}


<br>
<br>
<button routerLink="/product/edit/{{product.id}}" type="edit" value="Edit">Edit</button>
<button type="delete" value="Delete">Delete</button>


    




<footer></footer>