<app-menu></app-menu>

<label for="partnumber">Part Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{products.partNumber}}
<br>
<label for="name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{products.name}}

<br>
<label for="price">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{products.price}}

<br>
<label for="unit">Unit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{products.unit}}

<br>
<label for="photopath">Photo Path:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{products.photopath}}

<br>
<label for="vendor">Vendor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
{{products.vendor}}


<br>
<br>
<button routerLink="/product/edit/{{products.id}}" type="edit" value="Edit">Edit</button>
<button type="delete" value="Delete">Delete</button>


    




<footer></footer>